html,
body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

/* 视频水平居中 + 高度自适应 + 固定位置 */
video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

/* 点击触发区域 */
#overlay {
  position: absolute;
  width: 20vw;
  height: 20vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;
}

/* #overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
} */


/* 固定按钮通用样式 */
.fixed-button {
  color: #2a2a2a;
  position: fixed;
  top: 20px;
  font-size: 1.5em;
  z-index: 20;
  text-decoration: none;
  cursor: pointer;
  /* ✅ 阻止文本被选中 */
  user-select: none;
  /* 兼容 iOS Safari */
  -webkit-user-select: none;
}

/* 左上角返回按钮 */
#backButton {
  left: 20px;
}

/* 右上角隐藏按钮 */
.hide-button {
  position: absolute;
  top: calc(50% - 10vw - 2em);
  /* 距离视频底部 20px */
  left: 50%;
  transform: translateX(-50%);
  color: #121212;
}
